$primary: #141a26;
$secondary: white;

$fontColor: black;
$largeFont: 1.75rem;

$boxShadow: 0px 2px 5px 1px rgba(70, 70, 70, 0.25);

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans';
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.section-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 3rem;
}

@import './header.scss';
@import './home.scss';
@import './resume.scss';
@import './tech.scss';
@import './projects.scss';
@import './contact.scss';
