$primary: #141a26;
$secondary: white;

$fontColor: #fafafa;
$largeFont: 1.75rem;

$boxShadow: 0px 2px 2px 2px black;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans';
  color: $fontColor;
  background-color: $primary;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

@import './header.scss';
@import './home.scss';
@import './resume.scss';
@import './tech.scss';
@import './projects.scss';
@import './contact.scss';
